.card-body .card-progress {
  padding-top: 0 !important;
}

.card-body .card-progress ul {
  margin-bottom: 0;
  height: 20px;
}

.card-body .card-progress ul li {
  width: 100%;
}

.card-body .card-progress ul .progress {
  height: 20px;
  border-radius: 0;
  margin-bottom: 0;
}

.card-body .card-progress ul .progress .progress-bar {
  height: 20px;
  color: #000;
}

.card-status {
  padding: 5px !important;
}

.card-status ul {
  margin-bottom: 0 !important;
}

.card-status .fa {
  font-size: 1.3rem;
  position: relative;
  top: 3px;
}

.job-status {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  color: #fff;
}

