.text-black-30 {
  color: rgba(0, 0, 0, 0.3) !important;
}

.navbar-nav .dropdown-divider {
  margin: 0 0 0.5rem 0;
}

.jobs .card-body .card-progress {
  padding-top: 0 !important;
}

.jobs .card-body .card-progress ul {
  margin-bottom: 0;
  height: 20px;
}

.jobs .card-body .card-progress ul li {
  width: 100%;
}

.jobs .card-body .card-progress ul .progress {
  height: 20px;
  border-radius: 0;
  margin-bottom: 0;
}

.jobs .card-body .card-progress ul .progress .progress-bar {
  height: 20px;
  color: #000;
}

.jobs .card-status {
  padding: 5px !important;
}

.jobs .card-status ul {
  margin-bottom: 0 !important;
}

.jobs .card-status .fa {
  font-size: 1rem;
  position: relative;
  top: 3px;
}

.jobs .jobs-trashed {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  color: #fff;
}

.jobs .jobs-status {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  color: #fff;
}

.jobs .actions .btn:first-child {
  border-bottom-left-radius: 10em;
}

.jobs .actions .btn:last-child {
  border-bottom-right-radius: 10em;
}

.job .task p {
  margin-bottom: 0;
}

.job .task a {
  margin: 0;
}

.job .users a {
  margin: 0;
}

.users .row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.users .row:last-child {
  border-bottom: none;
}

.users .row p {
  margin: 0;
  padding-top: 10px;
}

.invalid-feedback {
  display: block;
}

.hidden {
  display: none !important;
}

